@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  src: url('./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: "Montserrat";
}
@media (max-width:800px){
  body{font-size: 14px;}
}
.load {
  width: 30px;
  height: 30px;
  border: 2px solid transparent;
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  display: flex;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hljs {
  background-color: rgb(220,220,220) !important;
  padding: 16px;
  border-radius: 8px;
  overflow-x: auto;
}

.loader {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  box-sizing: border-box;
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
  border-right: 4px solid #ff00;
  animation: loader .7s infinite linear;
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95);}
  to { opacity: 1; transform: scale(1);}
}
.animate-fadeIn {
  animation: fadeIn 0.4s ease;
}



